@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo-escuro);
    color: var(--texto-principal);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--fundo-card);
    align-items: center;
    height: 3.25rem;
    margin-bottom: 1.5rem;
}

#pesquisar {
    border: none 0;
    background-color: var(--input);
}

.search {
    display: flex;
    margin-right: 7.75rem;
}

.search img {
    margin-right: .5rem;
}

.search-area {
    display: flex;
    align-items: center;
    border: solid 1px --input;
    background-color: var(--input);
    border-radius: 4px;
    padding: 0 11px;
}

.navegation {
    display: flex;
}

.item-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3.75rem;
    font-size: 12px;
    font-weight: 400;
}

.item-nav img {
    margin-bottom: .25rem;
}

.line {
    border-left: thick solid #ff0000;
}

.profile-resume {
    margin: 0 9.625rem .25rem;
    position: relative;
}

.profile-infos {
    background-color: var(--fundo-card);
    width: 48.75rem;
    height: 14.875rem;
    padding: 3.5rem 1.5rem;
    border-radius: 0px 0px 16px 16px;
}

#habilidades {
    line-height: 20px;
    color: var(--texto-principal);
    font-weight: 600;
}

#profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 118px;
    left: 24px;
}

.assuntos {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--texto-secundario);
}

a {
    text-decoration: none;
    color: var(--primario);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.stats-acc {
    margin-bottom: .25rem;
}

.btn {
    display: flex;
    align-items: center;
}

#btn-msg {
    width: 128px;
    border: solid 1px var(--primario);
    background-color: var(--primario);
    color: var(--texto-escuro);
    border-radius: 16px;
    padding: 6px 29px;
    margin-right: .5rem;
}

#btn-mais {
    width: 128px;
    border: solid 1px var(--primario);
    background-color: var(--fundo-card);
    color: var(--primario);
    border-radius: 16px;
    padding: 6px 29px;
    display: flex;
    justify-content: center;
}

.empr-esco {
    position: absolute;
    top: 17.875rem;
    left: 31.438rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: min-content 1fr;
}

.destaques {
    margin: 0 9.625rem .875rem;
    width: 48.75rem;
    height: 19.5rem;
    border-radius: 16px;
    background-color: var(--fundo-card);
}

.grid-destaque {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.destaques h1 {
    padding: 16px 0 8px 24px;
}

.card-destaque {
    border: solid 1px var(--texto-secundario);
    border-radius: 8px;
    height: 236px;
}

.publ-txt {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--texto-secundario);
    padding: 12px 0 0 14px;
}

.publ-legnd {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--texto-secundario);
    padding: 0 14px 0 14px;
    margin-bottom: .25rem;
}

.reacoes {
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.publi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .25rem .25rem 0 .25rem;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--texto-secundario);
}

.reacao {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #DF704D;
    transform: translateX(100%);
    box-shadow: -8px 0 #378FE9, -16px 0 #6DAE4F;
}

.atividades {
    background-color: var(--fundo-card);
    width: 48.75rem;
    margin: 0 9.625rem .875rem;
    border-radius: 16px;
}

.atv-head {
    padding: 10px 0 0 24px;
}

.atv-img-p {
    display: flex;
    align-items: center;
}

.atv-img-p img {
    margin-right: .5rem;
}

.atv-disc {
    padding: 13px 24px 0 24px;
}

.head-p-atv {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--texto-secundario);
    margin-bottom: .5rem;
}

.linha {
    border-bottom: 1px solid #ffffff99;
    margin-top: .5rem;
}

.linha-big {
    border-bottom: 1px solid #ffffff99;
}

#ex-atv {
    text-align: center;
}

#ex-atv p {
    padding: .5rem 0 .5rem 0;
}

.sobre {
    background-color: var(--fundo-card);
    width: 48.75rem;
    margin: 0 9.625rem .875rem;
    border-radius: 16px;
    padding: 16px 24px;
}

.sobre h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.sobre p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.experiencias {
    background-color: var(--fundo-card);
    width: 48.75rem;
    margin: 0 9.625rem .875rem;
    border-radius: 16px;
    padding: 16px 24px;
}

.experiencias h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.empresa-xp {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.empresa-xp img {
    margin-right: 8px;
}

.cargos-ocupados {
    display: flex;
}

.dot-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 26px 0 20px;
}

.dot-line-spc {
    margin-bottom: 8px;
}

.localizacao {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--texto-secundario);
}

.duracao {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--texto-secundario);
}

.tipo-emprego {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.form-acad {
    background-color: var(--fundo-card);
    width: 48.75rem;
    margin: 0 9.625rem .875rem;
    border-radius: 16px;
    padding: 8px 24px 32px;
}

.form-acad h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.instit-ens {
    display: flex;
}

.instit-ens img {
    margin-right: 8px;
}

.instituicao {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.nome-curso {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.idiomas {
    background-color: var(--fundo-card);
    width: 48.75rem;
    margin: 0 9.625rem .875rem;
    border-radius: 16px;
    padding: 16px 24px 16px;
}

.idiomas h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.lingua {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}

.lvl-idioma {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: var(--texto-secundario);
}

.linha-idioma {
    border-bottom: 1px solid #ffffff99;
    margin: .5rem 0 .75rem;
}

.pessoas-viram {
    width: 20rem;
    height: 35.25rem;
    background-color: var(--fundo-card);
    border-radius: 16px;
    position: absolute;
    left: 60rem;
}

.pessoas-viram h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 0 0 16px;
}

.pessoas {
    padding: 16px 20px 0 16px;
    display: flex;
}

.info-pessoa h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.info-pessoa p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--texto-secundario);
}

.info-pessoa {
    padding-left: 6px;
}

.btn-send-msg {
    text-align: center;
    border: solid 1px var(--texto-principal);
    width: 9.625rem;
    border-radius: 16px;
    padding: 3px;
    margin: 10px 0 0 69px;
}

.talvez-conheca {
    width: 20rem;
    height: 35.25rem;
    background-color: var(--fundo-card);
    border-radius: 16px;
    float: right;
    margin: 0 15rem 0 0;
    position: absolute;
    left: 60rem;
    right: 9.625rem;
    top: 40.5rem;
}

.talvez-conheca h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 0 0 16px;
}

@media(max-width: 1024px) {
    nav {
        display: none;
    }
}